* {
    margin: 0;
    padding: 0;
}

html {
    background-color: darkslategray;
    color: white;
    font-family: sans-serif;
}

nav {
    width: 100%;
    /* outline: 1px white solid; */
    margin: 0;
    text-align: center;
    background-color: darkslateblue;
    padding: 1rem 0;

    -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.75);
}


nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.container {
    max-width: 1100px;
    margin: auto;
    /* outline: 1px white solid; */
    padding: 0;
}

.container .title {
    text-align: center;
    margin: 2.5rem 0 1.25rem 0;
    padding: 1rem 0;

    background-color: darkslategray;

    -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.75);
}

#buildings {
    text-align: center;
}

#buildings .building {
    display: inline-block;
    /* outline: 1px white solid; */
    width: 15%;
    min-height: 150px;
    margin: auto 1rem;
    padding: 1rem;
    background-color: darkslateblue;

    -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.75);
}

.building h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}
.building p {
    margin: 2rem 0;
}
.building form {
    margin: 1rem 0;
}

.building form button {
    padding: 0.5rem 1.5rem;
    background-color: gold;
    border: none;
    font-weight: bold;
    border-radius: 5px;

    -webkit-box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.5);
}

.building form button:hover {
    background-color: yellow;
    cursor: pointer;

    -webkit-box-shadow: 1px 2px 4px 1px rgba(0,0,0,0..85);
    -moz-box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.85);
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.85);
}

#activity {
    padding: 1rem;
    /* outline: 1px white solid; */
    height: 200px;

   overflow: auto;
   

    background-color: darkslategray;

    -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.75);
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: slategrey; 
  }